.background {
  padding: 5px;
  margin: auto;
  background-color: lavender;
  border-style: double;
  border-color: green;
  border-width: 8px;
}

#text {
  width: 300px;
  background-color: grey;
  margin: auto;
  height: 200px;
  overflow: auto;
  border-style: dashed;
  border-color: salmon;
  border-width: 5px;
}

.important {
  font-weight: bold;
  text-decoration: underline;
  margin: auto;
}

.picture {
  width: 308px;
  height: 100px;
  margin: 0;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
